.Pizzabox{
    padding-top: 25px;
    padding-right: 5px;
}
.foodbox{
    height: 250px;
    width: 210px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    border: 0.5px solid #C1C1C1;
    background: #FFFFFF;
    color: rgb(0, 0, 0);
    display: grid;
    margin-bottom: 20px;
    margin-top: 10px;
    
}
.foodimg img{
    position: relative;
    top: -50px;
    left: 20px;
    border-radius: 10px;
    height: 130px;
    width: 170px;
    margin: auto;
    margin-top: 20px;
}
.food-info{
   
    position:relative;
    top: -40px
    
}
.food-info h3{
    text-align: left;
    padding-top: 0px;
    font-size: 25px;
    font-weight: 600;
    margin-left: 25px;
    color: black;
}
.food-info h4{
    text-align: left;
    padding-left: 15px;
    padding-top: 3px;
    color: black;
}
.food-info p{
    text-align: left;
    padding-left: 25px;
    padding-top: 3px;
    font-size: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    /* line-height: 26px; */
    color: #707070;
}
/* .food-info button{
    margin-left: 60px;
    width: 240px;
    height: 35px;
    background: #FFB800;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
*/
 








/* counter button css start */

.counter{
    margin-top: 15px;
    
}
#negative,#positive{
    background: #FFB800;
    color: white;
    width: 41px;
    font-size: 25px;
    border: 1px solid whitesmoke;
    cursor: pointer;
    height: 46px;
    /* margin: 0 auto; */
    
}
#negative{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    
    margin-left: 20px;
    
}
.blank{
    display:none;
}
.block2{
    width: 123px;
    background: #FFB800;
    color: white;
    border: 1px solid whitesmoke;
    height: 35px;
    font-size: 10px;
    margin-left: 20px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    
}
.block2:hover{
    background: white;
    color: #FFB800;
    border-radius: 20px;
    border: .2px solid;
    border-color: black;
    /* font-size: 23px; */
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}
#addbuttontext{
    font-size: 15px;
    
}
#positive{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.block{
    background-color: white;
    border-left: 0;
    border-right: 0;
    color:black;
    height: 10px;
    width: 10px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    width: 25px;
    border: 0px;
}
.counter{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 30px; */
}
.number{
    font-size: 20px;
    display: block;
    margin: -10px auto;
    font-weight: bold;
}
.number2{
    display: none;
}
.cart{
    display: none;
}
.cart2{
    display: inline;
}




@media(max-width: 430px){
    .Pizzabox{
        padding-top: 25px;
        padding-right: 5px;
    }
    .foodbox{
        height: 210px;
        width: 177px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        border: 0.5px solid #C1C1C1;
        background: #FFFFFF;
        color: rgb(0, 0, 0);
        display: grid;
        margin-bottom: 20px;
        margin-top: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .foodimg img{
        position: relative;
        top: -50px;
        left: 15px;
        border-radius: 10px;
        /* height: 130px; */
        width: 150px;
        margin: auto;
        margin-top: 20px;
    }
    .food-info{
       
        position:relative;
        top: -40px
        
    }
    .food-info h3{
        text-align: left;
        padding-top: 0px;
        font-size: 16px;
        font-weight: 600;
        margin-left: 25px;
        color: black;
    }
    .food-info h4{
        text-align: left;
        padding-left: 15px;
        padding-top: 3px;
        color: black;
    }
    .food-info h5{
        font-size: 10px;
    }
    .food-info p{
        text-align: left;
        padding-left: 25px;
        padding-top: 3px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        /* line-height: 26px; */
        color: #707070;
    }
    .block2{
        width: 70px;
        background: #FFB800;
        color: white;
        border: 1px solid whitesmoke;
        height: 20px;
        font-size: 8px;
        margin-left: 20px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
    }
    #addbuttontext{
        font-size: 8px;
        padding-bottom: 10px;
        
    }
    #negative,#positive{
        background: #FFB800;
        color: white;
        width: 24px;
        font-size: 25px;
        border: 1px solid whitesmoke;
        cursor: pointer;
        height: 30px;
        /* margin: 0 auto; */
        justify-content: center;
        place-items: center;
        
    }
}