.amazon-pay, .paytm, .phone-pay{
    display: grid;
    width: 500px;
    height: 150px;
    margin-bottom: 25px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
}
.wallet-link-account{
    background-color: white;
    border: none;
    color: #FF0000;
    font-size: 20px;
    cursor: pointer;
}