.searchbar{
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.searchbar input{
    width: 500px;
    margin: 30px 0;
    padding-top: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 17px;
}
.input-wrap{
    width: 550px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2px solid;
    border-radius: 10px;
}
.input-wrap input:focus{
    border: none;
}
.search-icon-button{
    outline: none;
    border: none;
    background: none;
    padding-top: 5px;
    cursor: pointer;
}

@media(max-width: 430px){
    .searchbar{
        display: none;
    }
    
}