.maincanteen-container{
    width: 100%;
    height: 100vh;
}
.hrforMid{
    width: 135vh;
    /* height: .5px; */
    background-color: #FFB800;
    color:#FFB800;
    margin-top: 40px;
    margin-bottom: 10px;
    border: 1px solid #FFB800;
    border-radius: 10px;
    transform: rotate(-0.12deg);
}

.maincanteen-navbar{
    width: 1210px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    position: sticky;
    top: 0;
    background-color: white;
}

.arrowback-maincanteen{
    padding-top: 20px;
    margin-left: 150px;
    color: #707070;
}
.title-maincateen{
    padding-top: 18px;
    position: absolute;
    left: 300px;
    font-size: 20px;
    color: #707070;
    font-family: 'Poppins';
}
.canteen-list-maincanteen{
    display: flex;
    width: 135vh;
    overflow-x:scroll ;
    position:sticky;
    justify-content: flex-start;
}
.canteena-body{
    padding-left: 130px;
    padding-right: 100px;
}
.canteen-body-body{
    padding-top: 20px;
    justify-content: center;
    margin-left: 10px;
    /* padding-left: 180px; */
    width: auto;
    height: auto;
}

.Canteen-body-card-title{
    font-size: 30px;
}
.menu-start{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
    
}
.meny-start::-webkit-scrollbar{
    height: 12px;
    width: 12px;
    }
 /* @media screen and (max-width: 768px) and (min-width: 425px){
    .hello{
        display: none;
    }
 } */

 /* add to cart line start */

.addToCartLine{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0 20px;
    background: #FFCF52;
    height: 60px;
    width: 80%;
    border-radius: 10px;
    z-index: 10;
    position: fixed;
    bottom: 10px;
    display: none;

}
.navigate-next-icon{
    position: relative;
    top: 5px;
}
.next-and-icon-maincanteen{
    cursor: pointer;
}
.next-and-icon-maincanteen-h3{
    color: black;
}


/* mobile view */

@media(max-width: 430px){
    .maincanteen-container{
        width: 95vw;
        height: 100vh;
    }
    .hrforMid{
        width: 51vh;
    }
    .canteen-list-maincanteen{
        display: flex;
        width: 51vh;
        overflow-x:scroll ;
        position:sticky;
        justify-content: flex-start;
    }
    .maincanteen-navbar{
        width: 425px;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        position: sticky;
        top: 0;
        background-color: white;
    }
    .arrowback-maincanteen{
        display: none;
    }
    .title-maincateen{
        padding-top: 18px;
        position: absolute;
        left: 30px;
        font-size: 16px;
        color: #707070;
        font-family: 'Poppins';
    }
    .canteen-list-Category-card{
        width: 400px;
    }
    .canteena-body{
        padding: 0 5%;
    }
    .menu-start{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start
        
    }
    .menu-start{
        width: 420px;
        
    }
    /* .canteen-body-body{
        overflow: ;
    } */
    .addToCartLine{
        display: flex;
        justify-content: space-between;
        padding: 15px 20px 0 20px;
        background: #FFCF52;
        height: 50px;
        width: 80%;
        border-radius: 10px;
        z-index: 10;
        position: fixed;
        bottom: 30px;
        margin-left: 5px;
        display: none;
    }
    .navigate-next-icon{
        position: relative;
        top: 5px;
    }
    .next-and-icon-maincanteen{
        cursor: pointer;
    }
    .next-and-icon-maincanteen-h3{
        color: black;
    }
}
